# Byte-compiled, optimized, and DLL files.
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging.
build/
dist/
*.egg-info/

# IntelliJ things.
.idea/
*.iml

# Slurm scripts, figure-making scripts for papers and talks.
slurm/
casper/
purdue_talk/
bams2019/

# Code that I don't intend to commit.
gewittergefahr/*.py